In [ ]:
# variable
# data types
# control statements (if,if else, elif, nested if), while, for
# DS (string, tuple, list, dict)
# functions
# oops
# DB
#

In [4]:
#float to integer
a=69.69
b=int(a)
print(a)
print(b)

69.69
69

In [10]:
#string -> integer
a='123'
b=int(a)
print(a)
print(b)

123
123

In [12]:
#string -> float
a='123'
b=float(a)
print(a)
print(b)

123
123.0

In [14]:
#integer , float -> string
a=123
b=12.3
c=str(a)
d=str(b)
print(a)
print(b)
print(c)
print(d)

123
12.3
123
12.3

In [28]:
# ATM
# accept the amount and print number of notes
# 500, 200, 100
amount=int(input('Enter your Amount'))
five=0
two=0
one=0
if amount%100==0:
    if amount>=500:
        five=amount//500
        print('500 rupees notes are : ',five)
        amount=amount-(five*500)
    if amount>=200:
        two=amount//200
        print('200 rupees notes are : ',two)
        amount=amount-(two*200)
    if amount>=100:
        one=amount//100
        print('100 rupees notes are : ',one)

Enter your Amount 1800

500 rupees notes are :  3
200 rupees notes are :  1
100 rupees notes are :  1

In [48]:
#task-1
#accept basic salary and find gross salary.
# gross salary = basic salary+ DA+ HRA
'''if basic salary is less than 20000 then
HRA is 76% and DA is 78% on basic salary
if basic salary is between 20000 - 30000 then
HRA is 79% and DA is 82% on basic salary
if basic salary is greater than 30000 then
HRA is 85% and DA is 89% on basic salary'''


basic_salary=int(input("Enter Basic Salary"))
if basic_salary<=20000:
    HRA=(basic_salary*76)/100
    DR=(basic_salary*78)/100
    gross_salary=basic_salary+HRA+DR
    print('Gross salary of an employee is : ',gross_salary)
elif basic_salary<30000:
    HRA=(basic_salary*79)/100
    DA=(basic_salary*82)/100
    gross_salary=basic_salary+HRA+DA
    print('Gross salary of an employee is : ',gross_salary)
else:
    HRA=(basic_salary*85)/100
    DA=(basic_salary*89)/100
    gross_salary=basic_salary+HRA+DA
    print('Gross salary of an employee is : ',gross_salary)

Enter Basic Salary 25000

Gross salary of an employee is :  65250.0

In [50]:
basic_salary=int(input("Enter Basic Salary"))
hra=int(input("enter HRA percentage"))
da=int(input("enter DA percentage"))
if basic_salary<=20000:
    HRA=(basic_salary*hra)/100
    DR=(basic_salary*da)/100
    gross_salary=basic_salary+HRA+DR
    print('Gross salary of an employee is : ',gross_salary)
elif basic_salary<30000:
    HRA=(basic_salary*hra)/100
    DA=(basic_salary*da)/100
    gross_salary=basic_salary+HRA+DA
    print('Gross salary of an employee is : ',gross_salary)
else:
    HRA=(basic_salary*hra)/100
    DA=(basic_salary*da)/100
    gross_salary=basic_salary+HRA+DA
    print('Gross salary of an employee is : ',gross_salary)

Enter Basic Salary 25000
enter HRA percentage 79
enter DA percentage 82

Gross salary of an employee is :  65250.0

In [114]:
# Task-1 
# accept employee salary and calculate TDS amount
# if salary is less than or equal to 500000-----0% TDS
'''if salary is between 500000 - 1000000 then
               500000-700000 --------5%
               700000-1000000--------10%
   if salary is between 1000000 - 2000000 then
               500000-700000---------5%
               700000-1000000--------10%
               1000000-1500000-------15%
               1500000-2000000-------20%
    if salary is more than 3000000 then
                500000-700000--------5%
                700000-1000000-------10%
                1000000-1500000-------15%
                1500000-2000000-------20%
                more than 2000000----30%'''

salary=int(input('Enter salary amount'))
if salary<=500000:
    print("No TDS on Salary")
if salary>500000 and salary<=1000000:
    if salary<=700000:
        remain1=salary-500000
        tds1=remain1*5/100
        print(tds1)
    elif salary>=700000 and salary<=1000000:
        tds2=200000*5/100
        remain=salary-700000
        tds3=remain*10/100
        print(tds2+tds3)
if salary>1000000 and salary<=2000000:
    tds1=200000*5/100
    tds2=300000*10/100
    if salary<1500000:
        remain4=salary-1000000
        tds3=remain4*15/100
        print(tds1+tds2+tds3)
    elif salary>1500000:
        tds4=500000*15/100
        remain5=salary-1500000
        tds5=remain5*20/100
        print(tds5)
        tdss=tds1+tds2+tds4+tds5
        print(tdss)
if salary>=3000000:
    tds1=200000*5/100
    tds2=300000*10/100
    tds3=500000*15/100
    tds4=500000*20/100
    if salary>2000000:
        remain6=salary-2000000
        tds5=remain*30/100
        print(tds1+tds2+tds3+tds4+tds5)

Enter salary amount 1200000

70000.0